* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Adwaita Sans", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  color: #123;
  background-color: #6bf5;
}

.login-screen {
  display: flex;
  flex-flow: column;
  gap: 20px;
  height: 100vh;
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-flow: column;
  padding: 20px;
  align-items: center;
  gap: 20px;
}


.login-screen header {
  background-color: #012;
  color: #fff;
  display: grid;
  flex: 0 0 100px;
  border-radius: 10px;
}

.login-screen h2 {
  margin: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
}

.login-container form {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.card {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  background: #fff;
  padding: 1.5rem;
  border-radius: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #012;
  color: #fff;
  padding: 0.75rem 2rem;
  border-radius: 10px;
  min-height: 100px;
  width: 100%;
}

.navbar button {
  margin-left: 1rem;
}

.main-content {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  padding: 0 1rem;
}

.login-form{
  display: flex;
  gap: 1rem;
}

.form-pago {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form-group label {
  font-size: 0.9rem;
  font-weight: bold;
}

.form-group input {
  padding: 0.5rem;
  border: 1px solid #cde;
  border-radius: 4px;
}

.btn-primary {
  background-color: #48e;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}

.btn-secondary {
  background-color: #e2e8f0;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #012;
  color: #eee;
}

.btn-logout {
  background-color: #bbb;
  color: #000;
  border: none;
  padding: 0.3rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-logout:hover {
  background-color: #e44;
  color: #fff;
}

.tabla-pagos {
  width: 100%;
  border-collapse: collapse;
}

.tabla-pagos th, .tabla-pagos td {
  padding: 0.75rem;
  border-bottom: 1px solid #e2e8f0;
  text-align: left;
}

.badge {
  background-color: #cfc;
  color: #183;
  padding: 0.2rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.8rem;
  font-weight: bold;
}

/* Mejorar un poco el responsive */

@media (max-width: 900px) {
  .main-content{
    flex-flow: column;
  }

  .navbar {
    flex-flow: column;
    align-items: baseline;
  }
}